.card {
    width: 400px;
    margin:30px auto;
    background-color: #fff;
    box-shadow: 0 5px 10px;
    border-radius: 10px;
    padding: 20px;
}
body {
    margin: 0;
    background: url("../img/pattern.png");
    font-family: Tahoma;
    line-height: 1.5;
    font-size: 18px;    
}
.card-photo{
        width: 200px;
        height: 200px;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
}
.title{
    font-size: 20px;
    text-align: center;    
    color: #419c1b;
}
.card-text{
    font-size: 14px;
}
.card-sublime{
    font-size: 18px;
    color: #315fc7;

}
.card-list{
    padding-left: 0;
    list-style-position: inside;
    font-size: 14px;
}
.button {
    display: inline-block;
    font: 400 13.3333px Arial;
    text-align: center;
    padding: 1px 6px;
    background-color: buttonface;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    margin: 30px auto;
}

.Serg{
    font-size: 150px;
    text-align: center;
}